<h5>Log in</h5>

<form [formGroup]="loginForm" (ngSubmit)=onSubmit()>
<div class="p-field p-grid">
    <label for="email" class="p-col-fixed">Email</label>
    <div class="p-col">
        <input id="email" type="text" formControlName="email" pInputText> 
    </div>
</div>
<div class="p-field p-grid">
    <label for="password" class="p-col-fixed">password</label>
    <div class="p-col">
        <input id="password" type="text" formControlName="password" pInputText> 
    </div>
</div>

<button type="submit" label="Submit"></button>
</form>

<a routerLink="/password-reset">Forgot your password?</a>

<p>New to P2PTrade? <a routerLink="/sign-up">Sign up now!</a></p>